# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# straight
/straight/

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
/.cask/
/dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# directory configuration
.dir-locals.el
/.cache/
.last-package-update-day

# dashboard files
recentf

# multiple cursors
/.mc-lists.el

# customizations
/custom.el

# JDEE files and directories
/jdee-server/
/jdee-server-src/
/abbrev_defs
/semanticdb/
/plantuml.jar
/*.jar
